@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Pacifico&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

header,
form {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #title {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  color: white;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .todo-txt {
  min-width: 30rem;
}

.card .select {
  display: inline;
}

.card .select .filter-todo {
  height: 2.8rem;
  width: 10rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-family: "Dancing Script", cursive;
  margin-left: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border-radius: 5px;
}

.card input, .card button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
  border-radius: 5px;
  font-family: "Dancing Script", cursive;
  cursor: pointer;
}

.card button {
  cursor: pointer;
  color: #2c73d2;
  -webkit-clip-path: circle(45% at 50% 50%);
          clip-path: circle(45% at 50% 50%);
  -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  outline: none;
}

.card button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.card:hover button {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.fall {
  -webkit-transform: translatex(-10rem);
          transform: translatex(-10rem);
  opacity: 0;
}

.fa-trash,
.fa-check {
  color: #2c73d2;
}

.custom-shape-divider-top-1612710629 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1612710629 svg {
  position: relative;
  display: block;
  width: calc(224% + 1.3px);
  height: 500px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.custom-shape-divider-top-1612710629 .shape-fill {
  fill: #008ccb;
}

.todo-container .todo-list {
  min-width: 30%;
  font-family: "Dancing Script", cursive;
}

.todo-container .todo-list .todos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  list-style: none;
  border-radius: 3px;
  margin: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.todo-container .todo-list .todos .todo-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  padding: 0.5rem;
}

.todo-container .todo-list .todos .checked-btn,
.todo-container .todo-list .todos .trash-btn {
  font-size: 1rem;
  padding: 0.7rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
/*# sourceMappingURL=taskList.css.map */